.flex{
    display: flex;
    background-color: rgb(238, 247, 252);
}

.body{

    display: flex;
    background-color: rgb(243, 240, 243);
}

h1{
    margin:  auto;
    padding: 0;
    width: 50%;
    text-align: center;
    font-size: 50px;

}

.img1{
    margin: 20 auto;
    padding: 20px;
}

a{
    display: block;
    text-decoration: none;
    width: auto;
    text-align: center;
    border-radius: 20px;
}

.buttonbody{
    width: 20%;
    margin-top:50px ;

}

.button{

    margin: 10 auto;
    padding: 10;
}



.buttonbody a:hover{
    background-color: rgb(218, 124, 241);
    box-shadow: 0px 10px 50px 0px rgba(238, 27, 27, 0.2);
}



.main{
    width: auto;
    text-align: center;
    margin-top: 20px;

}

.mainpara{
    font-size: 30px;
    transition: 0.3s;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    color: rgb(238, 25, 25);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.developers{
    width: 30%;
    margin: 50 auto;
    padding: 20;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    height: 25%;
}

.name{
    margin: 10 auto;
    padding: 10;
    border-radius: 40px;

}

p :hover{
    border:solid 1px red;
    background-color: mediumslateblue;
}


.votelink a{
    padding: 1%;
    font-size: 25px;
    margin-top: 28px;
    color:rgb(247, 53, 27);
     display: block;
    text-decoration: none;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    border-radius:20px;
}

 a :hover{
    background-color: rgb(13, 5, 15);
    color: blue;
    box-shadow: 0px 10px 50px 0px rgba(238, 27, 27, 0.2);
}